In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import json
import datetime
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings(action="ignore")
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import bs4
import requests
import time
import math
import random
from shapely.geometry import Point, Polygon
import time as timesys
from pyproj import Geod
from haversine import haversine
pd.set_option('display.max_columns', None)

In [12]:
for i in os.listdir():
    if "result" in i :
        
        print("interpolation",i.split("_")[-1].split(".")[0])
        df = pd.read_csv(i)
        display(df.sort_values(by="mean_speed"))

interpolation 1000

   experiment_no                  mean_speed                max_speed
21       4_2_1_4   0 days 01:17:46.541242422   0 days 07:38:53.416000
3        4_1_2_4   0 days 01:17:46.541242422   0 days 07:38:53.416000
17       4_1_3_9   0 days 01:30:22.528718866   0 days 05:19:32.710523
29       4_2_2_3   0 days 01:30:22.528718866   0 days 05:19:32.710523
11       4_1_3_3   0 days 01:30:22.528718866   0 days 05:19:32.710523
35       4_2_2_9   0 days 01:30:22.528718866   0 days 05:19:32.710523
20       4_2_1_3   0 days 01:38:28.412887029   0 days 03:22:15.970335
2        4_1_2_3   0 days 01:38:28.412887029   0 days 03:22:15.970335
7        4_1_2_8   0 days 01:41:28.785310729   0 days 07:55:19.056398
25       4_2_1_8   0 days 01:41:28.785310729   0 days 07:55:19.056398
8        4_1_2_9   0 days 01:52:19.416012429   0 days 03:29:50.617289
26       4_2_1_9   0 days 01:52:19.416012429   0 days 03:29:50.617289
30       4_2_2_4   0 days 02:17:59.555870755   0 days 08:08:28.394928
12       4_1_3_4   0 days 02:17:59.555870755   0 days 08:08:28.394928
16       4_1_3_8   0 days 02:17:59.555870755   0 days 08:08:28.394928
34       4_2_2_8   0 days 02:17:59.555870755   0 days 08:08:28.394928
9        4_1_3_1   0 days 02:36:10.991736777   0 days 12:10:11.900362
10       4_1_3_2   0 days 02:36:10.991736777   0 days 12:10:11.900362
28       4_2_2_2   0 days 02:36:10.991736777   0 days 12:10:11.900362
27       4_2_2_1   0 days 02:36:10.991736777   0 days 12:10:11.900362
1        4_1_2_2   0 days 02:43:00.801063618   0 days 06:49:11.404368
0        4_1_2_1   0 days 02:43:00.801063618   0 days 06:49:11.404368
19       4_2_1_2   0 days 02:43:00.801063618   0 days 06:49:11.404368
18       4_2_1_1   0 days 02:43:00.801063618   0 days 06:49:11.404368
22       4_2_1_5   0 days 13:52:16.113394739   1 days 20:12:45.008250
4        4_1_2_5   0 days 13:52:33.262753977   1 days 20:12:45.008250
23       4_2_1_6   0 days 14:51:07.519415669   1 days 12:55:49.422415
5        4_1_2_6   0 days 14:53:50.748697891   1 days 12:55:49.422415
15       4_1_3_7   0 days 15:35:59.760012880   1 days 21:55:48.020360
14       4_1_3_6   0 days 15:35:59.760012880   1 days 21:55:48.020360
32       4_2_2_6   0 days 15:36:29.772859464   1 days 21:55:48.020360
33       4_2_2_7   0 days 15:36:29.772859464   1 days 21:55:48.020360
13       4_1_3_5   0 days 15:41:52.675052600   2 days 06:39:32.115356
31       4_2_2_5   0 days 15:56:30.141461475   3 days 09:15:51.139040
24       4_2_1_7  10 days 15:11:04.509838877  26 days 22:08:59.132007
6        4_1_2_7  10 days 15:56:39.153176970  26 days 22:08:59.132007

interpolation 10000

   experiment_no                  mean_speed                max_speed
3        4_1_2_4   0 days 01:16:18.014344066   0 days 07:03:45.085243
21       4_2_1_4   0 days 01:16:18.014344066   0 days 07:03:45.085243
2        4_1_2_3   0 days 01:18:43.028948459   0 days 02:44:52.881255
20       4_2_1_3   0 days 01:18:43.028948459   0 days 02:44:52.881255
17       4_1_3_9   0 days 01:29:45.773220366   0 days 05:22:37.955641
29       4_2_2_3   0 days 01:29:45.773220366   0 days 05:22:37.955641
11       4_1_3_3   0 days 01:29:45.773220366   0 days 05:22:37.955641
35       4_2_2_9   0 days 01:29:45.773220366   0 days 05:22:37.955641
30       4_2_2_4   0 days 02:17:45.815968125   0 days 08:07:13.528083
12       4_1_3_4   0 days 02:17:45.815968125   0 days 08:07:13.528083
16       4_1_3_8   0 days 02:17:45.815968125   0 days 08:07:13.528083
34       4_2_2_8   0 days 02:17:45.815968125   0 days 08:07:13.528083
0        4_1_2_1   0 days 02:28:38.194765440   0 days 06:26:22.510736
1        4_1_2_2   0 days 02:28:38.194765440   0 days 06:26:22.510736
18       4_2_1_1   0 days 02:28:38.194765440   0 days 06:26:22.510736
19       4_2_1_2   0 days 02:28:38.194765440   0 days 06:26:22.510736
9        4_1_3_1   0 days 02:36:07.715302674   0 days 12:15:05.352616
10       4_1_3_2   0 days 02:36:07.715302674   0 days 12:15:05.352616
28       4_2_2_2   0 days 02:36:07.715302674   0 days 12:15:05.352616
27       4_2_2_1   0 days 02:36:07.715302674   0 days 12:15:05.352616
7        4_1_2_8   0 days 03:43:26.412987011   0 days 16:29:38.876996
25       4_2_1_8   0 days 03:43:26.412987011   0 days 16:29:38.876996
26       4_2_1_9   0 days 05:18:18.388690129   0 days 10:40:55.728371
8        4_1_2_9   0 days 05:18:18.388690129   0 days 10:40:55.728371
22       4_2_1_5   0 days 14:11:23.489114620   1 days 21:02:27.255286
4        4_1_2_5   0 days 14:11:41.994138305   1 days 21:02:27.255286
23       4_2_1_6   0 days 15:10:24.866376970   1 days 13:36:15.440155
5        4_1_2_6   0 days 15:13:11.735158085   1 days 13:36:15.440155
15       4_1_3_7   0 days 15:37:51.994269611   1 days 21:59:36.504311
14       4_1_3_6   0 days 15:37:51.994269611   1 days 21:59:36.504311
32       4_2_2_6   0 days 15:38:23.617919509   1 days 21:59:36.504311
33       4_2_2_7   0 days 15:38:23.617919509   1 days 21:59:36.504311
13       4_1_3_5   0 days 15:44:05.716110951   2 days 06:45:13.973515
31       4_2_2_5   0 days 15:58:53.485459966   3 days 10:04:15.670996
24       4_2_1_7  10 days 20:35:38.612081475  27 days 09:56:20.709425
6        4_1_2_7  10 days 21:22:14.768787541  27 days 09:56:20.709425

interpolation 2500

   experiment_no                  mean_speed                max_speed
3        4_1_2_4   0 days 01:17:01.874849507   0 days 07:15:19.932844
21       4_2_1_4   0 days 01:17:01.874849507   0 days 07:15:19.932844
2        4_1_2_3   0 days 01:25:00.720206596   0 days 02:57:19.847045
20       4_2_1_3   0 days 01:25:00.720206596   0 days 02:57:19.847045
17       4_1_3_9   0 days 01:29:59.118836140   0 days 05:21:26.999697
29       4_2_2_3   0 days 01:29:59.118836140   0 days 05:21:26.999697
11       4_1_3_3   0 days 01:29:59.118836140   0 days 05:21:26.999697
35       4_2_2_9   0 days 01:29:59.118836140   0 days 05:21:26.999697
30       4_2_2_4   0 days 02:17:51.136830800   0 days 08:07:31.343347
12       4_1_3_4   0 days 02:17:51.136830800   0 days 08:07:31.343347
16       4_1_3_8   0 days 02:17:51.136830800   0 days 08:07:31.343347
34       4_2_2_8   0 days 02:17:51.136830800   0 days 08:07:31.343347
0        4_1_2_1   0 days 02:32:56.844343177   0 days 06:33:56.857150
1        4_1_2_2   0 days 02:32:56.844343177   0 days 06:33:56.857150
18       4_2_1_1   0 days 02:32:56.844343177   0 days 06:33:56.857150
19       4_2_1_2   0 days 02:32:56.844343177   0 days 06:33:56.857150
9        4_1_3_1   0 days 02:36:09.362302637   0 days 12:13:19.335005
10       4_1_3_2   0 days 02:36:09.362302637   0 days 12:13:19.335005
28       4_2_2_2   0 days 02:36:09.362302637   0 days 12:13:19.335005
27       4_2_2_1   0 days 02:36:09.362302637   0 days 12:13:19.335005
7        4_1_2_8   0 days 03:07:04.104341611   0 days 14:47:37.574347
25       4_2_1_8   0 days 03:07:04.104341611   0 days 14:47:37.574347
26       4_2_1_9   0 days 04:36:54.667147366   0 days 09:11:40.594317
8        4_1_2_9   0 days 04:36:54.667147366   0 days 09:11:40.594317
22       4_2_1_5   0 days 14:05:19.169704832   1 days 20:46:06.045353
4        4_1_2_5   0 days 14:05:37.306483033   1 days 20:46:06.045353
23       4_2_1_6   0 days 15:04:17.399300795   1 days 13:22:57.617502
5        4_1_2_6   0 days 15:07:03.124847093   1 days 13:22:57.617502
15       4_1_3_7   0 days 15:37:12.186198970   1 days 21:57:54.150154
14       4_1_3_6   0 days 15:37:12.186198970   1 days 21:57:54.150154
32       4_2_2_6   0 days 15:37:43.603512977   1 days 21:57:54.150154
33       4_2_2_7   0 days 15:37:43.603512977   1 days 21:57:54.150154
13       4_1_3_5   0 days 15:43:18.922153246   2 days 06:42:47.842168
31       4_2_2_5   0 days 15:58:05.123581211   3 days 09:56:27.106276
24       4_2_1_7  10 days 18:52:18.849446171  27 days 06:03:36.709217
6        4_1_2_7  10 days 19:38:35.650604104  27 days 06:03:36.709217

interpolation 5000

   experiment_no                  mean_speed                max_speed
3        4_1_2_4   0 days 01:16:22.052530133   0 days 07:07:32.834488
21       4_2_1_4   0 days 01:16:22.052530133   0 days 07:07:32.834488
2        4_1_2_3   0 days 01:20:31.400824011   0 days 02:49:03.526128
20       4_2_1_3   0 days 01:20:31.400824011   0 days 02:49:03.526128
17       4_1_3_9   0 days 01:29:50.217133166   0 days 05:22:25.343230
29       4_2_2_3   0 days 01:29:50.217133166   0 days 05:22:25.343230
11       4_1_3_3   0 days 01:29:50.217133166   0 days 05:22:25.343230
35       4_2_2_9   0 days 01:29:50.217133166   0 days 05:22:25.343230
30       4_2_2_4   0 days 02:17:47.720940470   0 days 08:07:26.359350
12       4_1_3_4   0 days 02:17:47.720940470   0 days 08:07:26.359350
16       4_1_3_8   0 days 02:17:47.720940470   0 days 08:07:26.359350
34       4_2_2_8   0 days 02:17:47.720940470   0 days 08:07:26.359350
0        4_1_2_1   0 days 02:29:45.229911185   0 days 06:28:54.543700
1        4_1_2_2   0 days 02:29:45.229911185   0 days 06:28:54.543700
18       4_2_1_1   0 days 02:29:45.229911185   0 days 06:28:54.543700
19       4_2_1_2   0 days 02:29:45.229911185   0 days 06:28:54.543700
9        4_1_3_1   0 days 02:36:08.234618977   0 days 12:14:43.938224
10       4_1_3_2   0 days 02:36:08.234618977   0 days 12:14:43.938224
28       4_2_2_2   0 days 02:36:08.234618977   0 days 12:14:43.938224
27       4_2_2_1   0 days 02:36:08.234618977   0 days 12:14:43.938224
7        4_1_2_8   0 days 03:18:33.477387681   0 days 15:19:17.311019
25       4_2_1_8   0 days 03:18:33.477387681   0 days 15:19:17.311019
26       4_2_1_9   0 days 04:50:26.872212474   0 days 09:39:17.336743
8        4_1_2_9   0 days 04:50:26.872212474   0 days 09:39:17.336743
22       4_2_1_5   0 days 14:09:38.978496877   1 days 20:57:06.915244
4        4_1_2_5   0 days 14:09:57.427179708   1 days 20:57:06.915244
23       4_2_1_6   0 days 15:08:39.926480743   1 days 13:31:54.457759
5        4_1_2_6   0 days 15:11:26.480785444   1 days 13:31:54.457759
15       4_1_3_7   0 days 15:37:38.888690007   1 days 21:58:56.677966
14       4_1_3_6   0 days 15:37:38.888690007   1 days 21:58:56.677966
32       4_2_2_6   0 days 15:38:10.159688710   1 days 21:58:56.677966
33       4_2_2_7   0 days 15:38:10.159688710   1 days 21:58:56.677966
13       4_1_3_5   0 days 15:43:50.322459656   2 days 06:44:18.560214
31       4_2_2_5   0 days 15:58:36.259897178   3 days 09:55:47.493153
24       4_2_1_7  10 days 20:06:08.649770189  27 days 08:40:21.819266
6        4_1_2_7  10 days 20:52:39.473783365  27 days 08:40:21.819266

interpolation 7500

   experiment_no                  mean_speed                max_speed
3        4_1_2_4   0 days 01:16:19.499562340   0 days 07:05:06.197786
21       4_2_1_4   0 days 01:16:19.499562340   0 days 07:05:06.197786
2        4_1_2_3   0 days 01:19:19.280055681   0 days 02:46:16.268152
20       4_2_1_3   0 days 01:19:19.280055681   0 days 02:46:16.268152
17       4_1_3_9   0 days 01:29:47.451332022   0 days 05:22:18.116892
29       4_2_2_3   0 days 01:29:47.451332022   0 days 05:22:18.116892
11       4_1_3_3   0 days 01:29:47.451332022   0 days 05:22:18.116892
35       4_2_2_9   0 days 01:29:47.451332022   0 days 05:22:18.116892
30       4_2_2_4   0 days 02:17:46.421151170   0 days 08:07:24.498483
12       4_1_3_4   0 days 02:17:46.421151170   0 days 08:07:24.498483
16       4_1_3_8   0 days 02:17:46.421151170   0 days 08:07:24.498483
34       4_2_2_8   0 days 02:17:46.421151170   0 days 08:07:24.498483
0        4_1_2_1   0 days 02:28:59.791038003   0 days 06:27:13.081030
1        4_1_2_2   0 days 02:28:59.791038003   0 days 06:27:13.081030
18       4_2_1_1   0 days 02:28:59.791038003   0 days 06:27:13.081030
19       4_2_1_2   0 days 02:28:59.791038003   0 days 06:27:13.081030
9        4_1_3_1   0 days 02:36:07.940158655   0 days 12:14:40.001088
10       4_1_3_2   0 days 02:36:07.940158655   0 days 12:14:40.001088
28       4_2_2_2   0 days 02:36:07.940158655   0 days 12:14:40.001088
27       4_2_2_1   0 days 02:36:07.940158655   0 days 12:14:40.001088
7        4_1_2_8   0 days 03:37:17.688009603   0 days 16:12:26.614031
25       4_2_1_8   0 days 03:37:17.688009603   0 days 16:12:26.614031
26       4_2_1_9   0 days 05:11:29.967257948   0 days 10:25:51.864147
8        4_1_2_9   0 days 05:11:29.967257948   0 days 10:25:51.864147
22       4_2_1_5   0 days 14:10:48.499697241   1 days 21:00:32.011924
4        4_1_2_5   0 days 14:11:06.984824917   1 days 21:00:32.011924
23       4_2_1_6   0 days 15:09:49.791058970   1 days 13:34:42.020377
5        4_1_2_6   0 days 15:12:36.554492197   1 days 13:34:42.020377
15       4_1_3_7   0 days 15:37:46.462137227   1 days 21:59:01.814425
14       4_1_3_6   0 days 15:37:46.462137227   1 days 21:59:01.814425
32       4_2_2_6   0 days 15:38:17.970058371   1 days 21:59:01.814425
33       4_2_2_7   0 days 15:38:17.970058371   1 days 21:59:01.814425
13       4_1_3_5   0 days 15:43:59.438634052   2 days 06:44:29.845317
31       4_2_2_5   0 days 15:58:46.599008895   3 days 10:01:25.579467
24       4_2_1_7  10 days 20:25:46.375229059  27 days 09:29:00.633385
6        4_1_2_7  10 days 21:12:20.743894343  27 days 09:29:00.633385